<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Technical Test</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

     <div th:if="${not #lists.isEmpty(sensors)}">
        <h2>Sensors List</h2>
        <table class="table table-striped">
            <tr>
            	<th>ID</th>
            	<th>Name</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
            <tr th:each="sensor : ${sensors}">
                <td th:text="${sensor.id}">ID</td>
                <td th:text="${sensor.name}">Name</td>
                <td th:text="${sensor.description}">Description</td>
                <td th:text="${sensor.location}">Location</td>
                <td><a th:href="${'/sensor/' + sensor.id}">Details</a></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>